/*----------------Fonts All-------------------*/
@font-face {
    font-family: 'montserrat';
    src: url('/Photograph-Vika/fonts/Montserrat-Medium.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'manrope';
    src: url('/Photograph-Vika/fonts/Manrope-Medium.ttf');
    font-style: normal;

}

/*----------------Background All--------------*/
body {
    background: #3A3F45;
    color: #ffffff;
}

/*----------------Page 1 Block 1 Navigation and Background--------------*/
section.welcome {
    background-image: url(/Photograph-Vika/images/header_img.png);
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 17/9;
    padding: 40px 20px 50px 60px;

}

/*----------------Page 2 3 Block 1 Navigation--------------*/
section.container23 {
    padding: 40px 20px 40px 60px;

}

/*----------------Page 1 2 3 Block 1 Navigation--------------*/
nav.nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

div.logo {
    grid-column: 1/5;
}

div.logo a {
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 12px;
}

div.navigation {
    justify-self: center;
    align-self: center;
}

.logo a,
.navigation a {
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 3px;
    color: #ffffff;
}

.aboutservice a:hover,
.navigation a:hover {
    text-decoration: underline;
}

.logo a:active,
.navigation a:active {
    background: #2A2F36;
    border: 5px solid #2A2F36;
    border-radius: 8px;
    text-decoration: none;
}


/*----------------Page 1 Block 1 Welcome--------------*/
p.welcome {
    font-family: 'manrope', Arial, sans-serif;
    font-size: 60px;
    margin-top: 45%;
    letter-spacing: 12px;

}

/*----------------Page 1 Block 2 About me--------------*/
section.aboutme {
    padding: 40px 70px 40px 70px;
}

section.aboutme h1 {
    font-family: 'manrope', Arial, sans-serif;
    font-weight: 200;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    width: 50vw;
}

div.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-text {
    flex: 0 1 60%;
    padding: 10px 60px 10px 0px;
}


.my-photo {
    flex: 0 1 40%;
}

.my-text p {
    font-family: 'manrope', sans-serif;
    font-size: 25px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 1px;
    text-align: justify;
}

.my-photo img {
    width: 100%;
}

/*----------------Page 1 Block 3 Portfolio--------------*/

.portfolio {

    padding: 20px 70px 40px 70px;
}

.photoblock1,
.photoblock2,
.photoblock3,
.photoblock4,
.photoblock5,
.photoblock6,
.photoblock7 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}



/*----------------Page 1 Block 3 Button--------------*/
.buttonsearch {
    text-align: center;
}

.button1 {

    width: 30vw;
    height: 60px;
    margin-top: 60px;
    background-color: #545A62;
    border-radius: 24px;
    border: 0px;
    cursor: pointer;
}

.button1:hover {
    background: #2A2F36;
}


.button1:active {
    background: #23282E;
}

.button1text {
    color: #ffffff;
    font-family: 'manrope', Arial, sans-serif;
    font-size: 120%;

}

/*----------------Page 1 2 Block 4 Contacts--------------*/
.address {
    text-align: center;
    padding: 10px;
    margin-top: 60px;
}

.address img:active {
    background: #2A2F36;
    border: 5px solid #2A2F36;
    border-radius: 8px;
}

.address img {
    height: 50px;
    width: 50px;
    margin: 15px;
}

/*----------------Page 2 Block 2 Cervices----------------------*/
article.serviceblock {
    margin: 50px;
    padding: 30px 30px 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 10vh 2fr 20vh;
}

.service-name {
    grid-column: 1/3;
}

.service-name h1 {
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 45px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 0px;
}

.service-photo img {
    height: 75vh;
}

.aboutservice {
    font-family: 'manrope', sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 190%;
    letter-spacing: 0.8px;
    align-self: center;
}

.aboutservice p {
    margin-top: 0px;
}

/*----------------Page 2 Block 2 Price Buttons--------------*/


.price {
    text-align: center;
    grid-column: 1/3;
}

.price p {
    font-family: 'manrope', Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;
}

.button2 {
    width: 26vw;
    height: 10vh;
    margin-top: 0px;
    background-color: #545A62;
    border-radius: 24px;
    border: 0px;
    cursor: pointer;
}

.button2:hover {
    background: #2A2F36;
}

.button2:active {
    background: #23282E;
}

.button2text {
    color: #ffffff;
    font-family: 'manrope', sans-serif;
    font-size: 150%;
}

/*----------------Page 3 Block 2 Buttons Contacts--------------*/
.buttonscontacts {
    text-align: center;
    margin-top: 20px;
}

.button3 {

    width: 30vw;
    height: 60px;
    margin-top: 60px;
    background-color: #545A62;
    border-radius: 24px;
    border: 0px;
    cursor: pointer;
}

.button3:hover {
    background: #2A2F36;
}


.button3:active {
    background: #23282E;
}

.button3text {
    color: #ffffff;
    font-family: 'manrope', Arial, sans-serif;
    font-size: 120%;

}