@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
$font-logo: "Montserrat";
$font-text: "Manrope";
$color-text: #ffffff;
$color-bg: #3a3f45;
$color-btn: #545a62;
$color-hover: #2a2f36;
$color-active: #23282e;

%text-main {
  font-family: "Manrope";
  font-size: 26px;
  line-height: 140%;
  text-align: justify;
  color: $color-text;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// -------------------------------Block 1 Navigation and Title
.container {
  max-width: 1440px;
  min-width: 300px;
  width: 100%;
  height: 800px;
  margin: 0 auto;
  background-color: $color-bg;
  background-image: url(../images/header_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $color-text;
}
.wrap {
  padding: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media all and (min-width: 280px) and (max-width: 1030px) {
    padding: 10px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media all and (min-width: 280px) and (max-width: 1030px) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
  }
}
.nav__logo {
  flex-grow: 1;
}
.nav__text {
  flex-basis: 25%;
  display: flex;
  justify-content: space-between;
  @media all and (min-width: 280px) and (max-width: 1030px) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
  }
}
.nav__logo a {
  font-family: $font-logo;
  font-weight: 500;
  font-size: 42px;
  letter-spacing: 8px;
  text-decoration: none;
  color: $color-text;
  @media all and (min-width: 280px) and (max-width: 1030px) {
    font-size: 30px;
    letter-spacing: 1px;
  }
}
.nav__text a {
  font-family: $font-text;
  font-size: 25px;
  text-decoration: none;
  color: $color-text;
}
.container__title {
  margin: 0;
  color: $color-text;
  font-family: $font-text;
  font-size: 60px;
  letter-spacing: 15px;
  font-weight: 400;
  @media all and (min-width: 280px) and (max-width: 1030px) {
    font-size: 40px;
    letter-spacing: 5px;
  }
}
// ----------------------------------------Block 2 About
.main {
  padding: 60px;
  background-color: $color-bg;
}
.container-about__title {
  font-family: $font-text;
  font-size: 40px;
  color: $color-text;
}
.container-about__wrap {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.container-about__text {
  flex-grow: 1;
  max-width: 715px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @extend %text-main;
}
.container-about__photo {
  flex-basis: 38%;
  img {
    width: 100%;
  }
}
